header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(112, 24, 41);
  padding: 20px;
}

.navbar{
  padding: 20px;
  font-size: 18px;
}

.navbar a{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.titulo{
  margin-left: 10px;
}

.subtitulo{
  text-align: center;
  margin-top: 10px;
}
